---
import { Image } from 'astro:assets';
import Avatar from '@components/Avatar.astro';
import QrCode from '@components/QrCode.astro';
import phone from '@assets/icons/phone.svg';
import email from '@assets/icons/email.svg';
import map from '@assets/icons/map.svg';
import website from '@assets/icons/website.svg';
import github from '@assets/icons/github.svg';
import instagram from '@assets/icons/instagram.svg';
import facebook from '@assets/icons/facebook.svg';

const profileData = {
  name: 'Rafif Isdarufa Athallah',
  nim: '312210299',
  info: [
    {
      label: 'No. HP',
      value: '+62 821 1096 7112',
      href: 'tel:+62 821 1096 7112',
      span: false,
      icon: phone,
    },
    {
      label: 'Email',
      value: 'rafifathallah@mhs.pelitabangsa.ac.id',
      href: 'mailto:rafifathallah@mhs.pelitabangsa.ac.id',
      span: false,
      icon: email,
    },
    {
      label: 'Lokasi',
      value: 'Perumahan Mega Regency',
      href: 'https://maps.app.goo.gl/Usqtph7Jz6BWJ9a78',
      span: true,
      icon: map,
    },
  ],
  social: [
    {
      label: 'Personal Website',
      href: 'https://rafthllh.vercel.app',
      icon: website,
    },
    {
      label: 'GitHub',
      href: 'https://github.com/zangetsuuuu',
      icon: github,
    },
    {
      label: 'Facebook',
      href: 'https://www.facebook.com/share/1Jtw3tuJtt/',
      icon: facebook,
    },
    {
      label: 'Instagram',
      href: 'https://instagram.com/rafthllh',
      icon: instagram,
    },
  ],
};
---

<div
  class="flex flex-col items-center justify-center p-4 md:p-6 bg-white/30 backdrop-blur-lg rounded-lg border shadow-sm space-y-8"
>
  <div class="text-center space-y-4">
    <Avatar />
    <div class="space-y-1">
      <p class="text-sm font-semibold uppercase">{profileData.name}</p>
      <p class="text-xs text-zinc-500">{profileData.nim}</p>
    </div>
  </div>
  <div class="grid grid-cols-2 gap-3 w-full text-xs">
    {
      profileData.info.map((info) => (
        <a
          href={info.href}
          target="_blank"
          rel="noopener noreferrer"
          class:list={[
            'text-center p-2 space-y-1 border border-zinc-300 rounded-lg hover:-translate-y-1 transition-transform duration-300',
            { 'col-span-2': info.span },
          ]}
        >
          <Image src={info.icon} alt={info.label} class="size-3.5 mx-auto opacity-80" />
          <p class="text-zinc-500 truncate">{info.value}</p>
        </a>
      ))
    }
  </div>
  <div class="space-y-2.5">
    <p class="text-xs text-zinc-500 text-center">Social Media:</p>
    <div class="flex justify-center space-x-2.5">
      {
        profileData.social.map((social) => (
          <a
            href={social.href}
            target="_blank"
            rel="noopener noreferrer"
            class="p-2 hover:-translate-y-1 rounded-full transition-transform duration-300 opacity-80"
          >
            <Image src={social.icon} alt={social.label} class="size-6" />
          </a>
        ))
      }
    </div>
  </div>
  <QrCode />
</div>
